@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-400.woff2") format("woff2");
  font-display: swap;

}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans","Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #E5E5E5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  background-color: white;
}

/*Header*/

.page-header {
  background-color: #ffffff;
  min-height: 64px;
}

.navigation-header {
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content: space-between;
}

.logo-container {
  height: 64px;
}

.logo {
  display: block;
  margin: 0;
  width: 140px;
  height: 70px;
  left: 70px;
}

.logo:hover {
  opacity: 50%;
  cursor: pointer;
}

.logo:focus {
  opacity: 50%;
  cursor: pointer;
}

.logo:active {
  opacity: 30%;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  width: 160px;
  min-height: 36px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.button-header {
  width: 160px;
  min-height: 36px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.button:hover {
  background-color: #615048;
  cursor: pointer;
}

.button:focus {
  background-color: #615048;
  cursor: pointer;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.button[disabled] {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.navigation-link:hover::after {
  content: "";
  height: 2px;
  background-color: rgba(117,97,87, 0.3);
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  cursor: pointer;
}

.navigation-link:focus {
  color: #68A2CA;
  cursor: pointer;
}

.navigation-link:active {
  color: #82B3D3;
  cursor: pointer;
}

.navigation-link.current::after {
  content: "";
  height: 2px;
  background-color: rgba(117,97,87, 0.3);
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  cursor: pointer;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  gap: 32px;
  position: relative;
  padding: 20px 0;
  padding-left: 14px;
}

.navigation-user {
  display: flex;
  align-items: center;
  width: 268px;
}

.navigation-user a {
 display: flex;
 justify-content: center;
 align-items: center;
}

.navigation-link {
  display: block;
  position: relative;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
}

.navigation-header {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  padding: 0px 70px;
}

.navigation-item {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.nav-container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 30px;
  /* height: 64px; */
}

.navigation-user .icon-search,
.navigation-user .icon-heart {
  position: relative;
  width: 44px;
  height: 44px;
}

.navigation-user .button-header {
  margin-left: 20px;
}

.favourites {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 4px;
  top: 2px;
  background-color: #6C9E42;
  border-radius: 10px;
  color: white;
  font-size: 10px;
}

.icon-search:hover,
.icon-heart:hover {
  color: #83B3D3;
}

.icon-search:focus,
.icon-heart:focus {
  color: #83B3D3;
}

.icon-search:active,
.icon-heart:active {
  color: #5c7e95;
}

/*Main*/

.hero {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(117,97,87, 0.3);
  background-image: url("../images/divider.png"), url("../images/photos/index-background.jpg");
  min-height: 485px;
  color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  background-position: bottom, center;
}

.hero-text {
  width: 458px;
  height: 352px;
  padding-top: 50px;
  margin-bottom: 0;
}

/*Advantages*/

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  /* grid-auto-rows: 385px ; */
  width: 1200px;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.advantages-wrap {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 71px;
  margin-bottom: 89px;
}

.advantages-title {
  margin-bottom: 24px;
}

.advantages-subtitle {
  margin-top: 0;
}

.advantages-img-container {
  grid-column: 1/-1;
  display: flex;
  min-height: 384px;
}

.advantages-container-title {
  margin-top: 0;
}

.advantages-container-subtitle {
  margin-bottom: 0;
}

.advantages-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 384px;
  box-sizing: border-box;
  padding: 102px 85px 102px 85px;
  min-height: 384px;
}

.advantages-img-container div {
  width: 400px;
}

.advantages-img-container h3 {
  margin-bottom: 62px;
}

.advantages-img-container p {
  margin-top: 0;
}

.advantages-div-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: rgba(131,179,211,0.12);
}

.title-wrapper {
  margin-bottom: 45px;
}

.titles-uppercase {
  position: relative;
}

.advantages-img-container .advantages-container-title::after {
  background-color: rgba(255,255,255, 0.3);
}

.advantages-container-title::after {
  content: "";
  height: 2px;
  background-color: rgba(117,97,87, 0.3);
  position: absolute;
  bottom: -32px;
  width: 65px;
  left:50%;
  transform: translateX(-50%);
}

/*Services*/

.all-services {
  position: relative;
}

.all-services::before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}

.food::before {
  background-image: url("../images/services/food-icon-3.svg");
  width: 75px;
  height: 72px;
  bottom: 58px;
  left: 50%;
  transform: translateX(-50%);
}

.accomodation::before {
  background-image: url("../images/services/accomodation-icon.svg");
  width: 75px;
  height: 72px;
  bottom: 58px;
  left: 50%;
  transform: translateX(-50%);
}

.souvenir::before {
  background-image: url("../images/services/souvenirs-icon-2.svg");
  width: 72px;
  height: 72px;
  bottom: 58px;
  left: 50%;
  transform: translateX(-50%);
}

.all-services {
  margin-bottom: 30px;
}

.text-wrapper {
  margin: 0;
}
.services {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.services-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin-bottom: 0;
}

.services-item {
  box-sizing: border-box;
  padding: 81px 85px 81px 85px;
  display: flex;
  flex-direction: column;
  min-height: 385px;
  width: 400px;
  justify-content: center;
}

.services-item-title {
  margin-top: 0;
  padding-top: 103px;
}

.services-img {
  display: block;
  margin: 0 auto;
  width: 72px;
  height: 75px;
}

.services-container {
  margin-top: 66px;
  margin-bottom: 64px;
  padding-left: 20px;
  padding-right: 20px;
}

.services-container-title {
  margin-bottom: 0;
}

.services-container-subtitle {
  margin-top: 18px;
}

 /*Purchase*/

.purchase {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  color: #000000;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  min-height: 406px;
}

.purchase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 96px 0;
}

.purchase-title {
  margin: 0;
}

.purchase-subtitle {
  margin: 0;
  margin-top: 18px;
}

.button-all-hotels {
  width: 376px;
  height: 52px;
  margin-top: 52px;
  border: none;
}

/*Footer*/

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-align: center;
  background-color: #756157;
  background-image: url("../images/photos/subscribe-sedona.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  min-height: 414px;
}

.subscription-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 96px;
}

.subscription-title {
  margin: 0;
  margin-bottom: 20px;
}

.subscription-subtitle {
  margin: 0;
  margin-bottom: 54px;
}

.subscription-container p:first-child {
  margin: 0px;
  margin-bottom: 10px;
}

.subscription-form {
  display: flex;
  flex-direction: row;
  border-radius: 4px 0px 0px 4px;
  width: 684px;
  min-height: 52px;
}

.button-subscription {
  width: 232px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}

.button-subscription:hover {
  background-color: #68A2CA;
  cursor: pointer;
}

.button-subscription:focus {
  background-color: #68A2CA;
  cursor: pointer;
}

.button-subscription:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.button-subscription:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.subscription-form input {
  flex: 1;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: inherit;
  background-color: #f2f2f2;
}

.subscription-form input:hover {
  cursor: pointer;
}

.subscription-form input::placeholder {
  padding-left: 18px;
  font-weight: 400;
  font-size: 18px;
}

.button-color {
  background-color: #83B3D3;
}

.footer-contacts a {
  text-align: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 40px;
}

.footer-contacts-tel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  transform: translate(14px, 8px);
}

.footer-contacts-site {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-top: 9px;
}

.footer-contacts {
  display: flex;
  align-items: center;
  min-height: 120px;
  box-sizing: border-box;
  margin: 0 70px;
}

.social-media {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  flex: 1;
}

.title-color {
  color: white;
}

.titles-uppercase {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.lowercase-fonts {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: none;
}

.main-titles-uppercase {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.container-background-1 {
  background-color: #83b3d3;
}

.container-background-2 {
  background-color: #83B3D31F;
}

.container-background-3 {
  background-color: #83B3D333;
}

.footer-contacts a.vk-icon,
.footer-contacts a.tg-icon,
.footer-contacts a.youtube-icon {
  color: #83B3D3;
}

.footer-contacts a.vk-icon:hover,
.footer-contacts a.tg-icon:hover,
.footer-contacts a.youtube-icon:hover {
  color: #68A2CA;
}

.footer-contacts a.vk-icon:focus,
.footer-contacts a.tg-icon:focus,
.footer-contacts a.youtube-icon:hover {
  color: #68A2CA;
}

.footer-contacts a.vk-icon:active,
.footer-contacts a.tg-icon:active,
.footer-contacts a.youtube-icon:active {
  color: rgba(104,162,202,0.3);
}

.footer-contacts-tel a {
  color: #000000;
}

.footer-contacts-tel a:hover {
  color:#756157;
}

.footer-contacts-tel a:focus {
  color:#756157;
}

.footer-contacts-tel a:active {
  color: rgba(117,97,87, 0.3);
}

.footer-contacts a.site-icon {
  color:#000000;
}

.footer-contacts a.site-icon:hover {
  color: #756157;
}

.footer-contacts a.site-icon:focus {
  color: #756157;
}

.footer-contacts a.site-icon:active {
  color: rgba(117, 97, 87, 0.3);
}

.site-icon {
  height: 33px;;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 40px;
}

.nav-container-logo {
  height: 100%;
}
