@font-face {
font-family:"PT Sans";
font-style:normal;
font-weight:400;

src:url(fonts/pt-sans-400.woff2) format("woff2");
font-display:swap;

}
@font-face {
font-family:"PT Sans";
font-style:normal;
font-weight:700;

src:url(fonts/pt-sans-700.woff2) format("woff2");
font-display:swap;
}

body{
  font-family: "PT-Sans", sans-serif;
  font-size:18px;
  line-height:21px;
  color:#000000;
}

.button {
  font-family:inherit;
  font-size:16px;
  line-height: 20px;
  text-align:center;
  font-weight:700px;
  color:white;
  background-color:saddlebrown;
  text-decoration:none;
  text-transform:uppercase;
}

/*Pages*/

.page-header{
color:#000000;
background-color:white;
}

.navigation-link {
font-family: "PT Sans", sans-serif;
font-style:normal;
font-weight:700;
font-size:20px;
line-height:24px;
text-transform:capitalize;
color:#000000;
text-decoration:none;
}

.hero {
background-color:white;
background-image: url("../images/photos/index-background.jpg");
height:831px;
color:#000000;
background-size:100% auto;
background-repeat:no-repeat;
text-transform:uppercase;
}

/*List*/
.advantages-list {
text-align: center;
text-transform:uppercase;
}

.advantages-title{
  font-family:"PT Sans",sans-serif;
  font-size:24px;
  line-height: 28px;
  text-transform:uppercase;
  color:#000000;
}

.sedona-services {
color:#000000;
background-color:white;
font-family:"PT Sans",sans-serif;
font-size:24px;
line-height: 28px;
text-transform:uppercase;
text-align: center;
}

li {
  list-style-type: none;
}

p {
color:#000000;
font-family:"PT Sans",sans-serif;
font-size:24px;
line-height: 28px;
text-transform:none;
text-align: center;
}

.purchase {
background-color:white;
color:#000000;
font-family:"PT Sans",sans-serif;
font-size:24px;
line-height: 28px;
text-align: center;
}

.subscription{
background-color:cornflowerblue;
color:white;
font-family:"PT Sans",sans-serif;
font-size:18px;
line-height: 21px;
text-align: center;
}

.subscription p {
color:white;
font-family:"PT Sans",sans-serif;
font-size:18px;
line-height: 21px;
text-align: center;
text-transform:none;
}

.contacts {
background-color:cornflowerblue;
background-image:url("../images/photos/subscribe-sedona.png");
height:414.86px;
background-size:100% auto;
background-repeat:no-repeat;
}

.contacts a {
color:black;
text-align:center;
}
