@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-400.woff2") format("woff2");
  font-display: swap;

}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT-Sans","Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 1200px;
  margin: 0 auto;
}

/*Header*/

.page-header {
  background-color: #ffffff;
}

.navigation-header {
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content: space-between;
}

.logo {
  display: block;
  margin: 0;
  width: 140px;
  height: 70px;
  left: 70px;
}

.icons {
  margin-right: 40px;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  width: 160px;
  min-height: 36px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.nav-main::after {
  content: "";
  height: 2px;
  background-color: rgba(117,97,87, 0.3);
  position: absolute;
  top: 41px;
  left: 0;
  right: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  position: relative;
}

.navigation-user {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 268px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
}

.navigation-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 70px;
  gap: 30px;
}

.navigation-item {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.nav-container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 30px;
  width: 507px;
  height: 64px;
}

/*Main*/

.hero {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #ffffff;
  background-image: url("../images/photos/index-background.jpg");
  min-height: 485px;
  color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hero-text {
  width: 458px;
  height: 352px;
  padding-top: 50px;
  margin-bottom: 0;
}

.hero-imgs {
  background-image: url("../images/welcome.png.jpg"), url("../images/divider.png");
  width: 100%;
  flex: 1;
  background-position: center, bottom;
  background-repeat: no-repeat;
}

/*Advantages*/

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-auto-rows: 385px ;
  width: 1200px;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.advantages-img-container {
  grid-column: 1/-1;
  display: flex;
  height: 100%;
}

.advantages-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  padding: 113px 85px 113px 85px;
}

.advantages-img-container div {
  width: 400px;
}

.advantages-div-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: rgba(131,179,211,0.12);
}

.titles-uppercase {
  position: relative;
}

.advantages-list .titles-uppercase:after {
  content: "";
  height: 2px;
  background-color: rgba(117,97,87, 0.3);
  position: absolute;
  top: 73px;
  width: 65px;
  left:50%;
  transform: translateX(-50%);
}

.advantages-list .title-color:after {
  content: "";
  height: 2px;
  background-color: rgba(255,255,255,0.3);
  position: absolute;
  top: 73px;
  width: 65px;
  left:50%;
  transform: translateX(-50%);
}

/*Services*/

.all-services {
position: relative;
}

.all-services::before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}
.food::before {
  background-image: url("../images/services/food-icon-3.svg");
  width: 75px;
  height: 72px;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
}

.accomodation::before {
  background-image: url("../images/services/accomodation-icon.svg");
  width: 75px;
  height: 72px;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
}

.souvenir::before {
  background-image: url("../images/services/souvenirs-icon-2.svg");
  width: 75px;
  height: 72px;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
}

.services {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.services-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.services-item {
  box-sizing: border-box;
  padding: 81px 85px 81px 85px;
  display: flex;
  flex-direction: column;
  height: 385px;
  width: 400px;
  justify-content: center;
}

.services-img {
  display: block;
  margin: 0 auto;
  width: 72px;
  height: 75px;
}

.services-container {
  margin-top: 64px;
  margin-bottom: 64px;
}

 /*Purchase*/

.purchase {
  background-color: #ffffff;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  min-height: 406px;
}

.purchase-container {
  box-sizing: border-box;
  padding: 96px 304px 96px 304px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
}


.button-all-hotels {
  padding: 8px 50px 8px 50px;
  width: 376px;
  height: 52px;
  margin-bottom: 96px;
  border: none;
}

/*Footer*/

.subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  background-image: url("../images/photos/subscribe-sedona.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  min-height: 414px;
}

.subscription-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 96px 258px 104px 258px;
}

.subscription-form {
  display: flex;
  flex-direction: row;
  border-radius: 4px 0px 0px 4px;
  width: 684px;
  min-height: 52px;
}

.button-subscription {
  width: 232px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}

.subscription-form input {
  width: 100%;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.subscription-form input::placeholder {
  padding-left: 20px;
}

.button-color {
  background-color: #83B3D3;
}

.footer-contacts a {
  color: #000000;
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 120px;
}

.footer-contacts-tel, .footer-contacts-site {
  align-items: center;
  justify-content: center;
}

.footer-contacts-tel {
  width: 331px;
  height: 40px;
}

.footer-contacts {
  min-height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-media {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.social-media li {
  margin-left: 20px;
}

.heart {
  position: relative;
}

.favourites {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10px;
  top: -7px;
  background-color: #6C9E42;
  border-radius: 10px;
  color: white;
  font-size: 10px;
}

.title-color {
  color: white;
}

.titles-uppercase {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.lowercase-fonts {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: none;
}

.main-titles-uppercase {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.container-background-1 {
  background-color: #83b3d3;
}

.container-background-2 {
  background-color: #83B3D31F;
}

.container-background-3 {
  background-color: #83B3D333;
}

.footer-contacts a.vk-icon,
.footer-contacts a.tg-icon,
.footer-contacts a.youtube-icon {
  color: #83B3D3;
}

.footer-contacts a.vk-icon:hover,
.footer-contacts a.tg-icon:hover,
.footer-contacts a.youtube-icon:hover {
  color: #68A2CA;
}

.footer-contacts a.vk-icon:focus,
.footer-contacts a.tg-icon:focus
.footer-contacts a.youtube-icon:hover {
  color: #68A2CA;
}

.footer-contacts a.vk-icon:active,
.footer-contacts a.tg-icon:active,
.footer-contacts a.youtube-icon:active {
  color: rgba(104,162,202,0.3);
}

.footer-contacts-tel:hover {
  color:#756157;
}

.footer-contacts-tel:focus {
  color:#756157;
}

.footer-contacts-tel:active {
  color: rgba(117,97,87, 0.3);
}

.footer-contacts a.site-icon {
  color:#000000;
}

.footer-contacts a.site-icon:hover {
  color: #756157;
}

.footer-contacts a.site-icon:focus {
  color: #756157;
}

.footer-contacts a.site-icon:active {
  color: rgba(117, 97, 87, 0.3);
}
